*.schema.json

# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler
playwright-report/
test-results/
.playwright-cache/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.output.txt
